.mobile-frame {
  width: 374px;
  height: 676px;
  padding: 80px 50px 40px 50px;
  background-image: url("figures/mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1em auto;
}

.mobile-frame iframe {
  width: 95%;
  height: 90%;
  background-color: darkgray;
}
