.mobile-frame {
  width: 470px;
  height: 820px;
  padding: 80px 50px 40px 50px;
  background-image: url("assets/images/mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1em auto;
}

.mobile-frame iframe {
  width: 95%;
  height: 90%;
  background-color: darkgray;
}

.md-typeset .grid {
  grid-template-columns: repeat(auto-fit, minmax(0rem, 16rem))
}